
 <div class="showhim">HOVER ME
    <ion-card class="showme">bvhfjhgjgkjhj juytuy</ion-card>
  </div>
<hr>
<ion-content>

  <div  class="margin">
<ion-row>
  <ion-col size-lg="2"><h5>COMPANY</h5></ion-col>
  <ion-col size-lg="2"><h5>HELP AND CONTACT</h5></ion-col>
  <ion-col size-lg="2"><h5>MORE FROM US</h5></ion-col>
</ion-row>
<ion-row>
    <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
    <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
    <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
  </ion-row>
</div>
<div class="footer" style="background-color: black;">

    <div  class="margin">
  <ion-row>
    <ion-col  size-lg="2"> <p>About Us</p></ion-col>
    <ion-col size-lg="2"><p>Contact</p></ion-col>
    <ion-col size-lg="2"><p>Profile</p></ion-col>
    <ion-col size-lg="2"><p>hi</p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
      <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
      <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
        <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
        <ion-col size-lg="2"><p class="content">Fizza</p></ion-col>
      </ion-row>
  
      </div>
  </div>
 
</ion-content>
