<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-img src="assets/freshmeulogo.jpg" class="delivery" class="logo"> </ion-img>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/food.jpeg" class="img">
  <h1 class="content">Leave the cooking to us</h1>
  <ion-row>
    <ion-col size-lg="4"></ion-col>
    <ion-col size-lg="4">
      <h4>Hungering for ambition is more satisfying over a good meal.</h4>
      <p>Have a bulk order requirement for your house or office party? We've got you covered. Get exclusive discounts
        and deals by placing a bulk order with us. That's not all, get customised chef made party snacks that are made
        to order just for you. Tell more about your requirement and we'll take care of the rest.</p>
    </ion-col>
    <ion-col size-lg="4"></ion-col>
  </ion-row>
  <div class="div1">
  <ion-row>
      <ion-col size-lg="4"></ion-col>
    <ion-col size-lg="4">
   <div id="wrapper">
    <ion-item>

      <ion-label position="floating" class="fontstyle">

        <!-- <ion-icon class="name" name="call"></ion-icon> -->
        <small> Email</small>
        <ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input  ></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating" class="fontstyle">

        <!-- <ion-icon class="name" name="call"></ion-icon> -->
        <small> Name</small>
        <ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating" class="fontstyle">

        <!-- <ion-icon class="name" name="call"></ion-icon> -->
        <small> Phone number</small>
        <ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating" class="fontstyle">

        <!-- <ion-icon class="name" name="call"></ion-icon> -->
        <small>Your query</small>
        <ion-text color="danger"> *</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-button class="submit" color="crimson;" style="background-color:orangered ;">Submit</ion-button>
  </div>

    </ion-col>
    <ion-col size-lg="4"></ion-col>
  </ion-row>
</div>
  <hr>

  <div class="margin">
    <ion-row>
      <ion-col size-lg="2">
        <h6 class="footerheader">COMPANY</h6>
      </ion-col>
      <ion-col size-lg="3">
        <h6 class="footerheader">HELP AND CONTACT</h6>
      </ion-col>
      <ion-col size-lg="2">
        <h6 class="footerheader">MORE FROM US</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="2">
        <p class="firstrow">FAQ</p>
      </ion-col>
      <ion-col size-lg="3">
        <p class="firstrow">About</p>
      </ion-col>
      <ion-col size-lg="2">
        <p class="firstrow">Careers</p>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col size-lg="2">
        <p class="firstrow">Blog</p>
      </ion-col>
      <ion-col size-lg="3">
        <!-- <ion-icon name="email"></ion-icon> -->
       <p class="firstrow">Email</p>
       <!-- <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        Check mail
      </a>
     -->
      </ion-col>
      
   
      <ion-col size-lg="2">
        <p class="firstrow">Careers</p>
      </ion-col>
     
    </ion-row>
    <ion-row>
        <ion-col size-lg="2">
          <p class="firstrow">Blog</p>
        </ion-col>
        <ion-col size-lg="3">
          <!-- <ion-icon name="email"></ion-icon> -->
         <p class="firstrow">Email</p>
         <!-- <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Check mail
        </a>
       -->
        </ion-col>
        
     
        <ion-col size-lg="2">
          <p class="firstrow">Careers</p>
        </ion-col>
       
      </ion-row>
<hr>  

  </div>
</ion-content>