<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <div class="main-content">
    <div class="menu_item">
        <div class="ion-content">
            <ion-row style="font-size: 13px;
            color: #686b78;">
              <ion-col size="6">Pasta</ion-col>
              <ion-col size="2">x</ion-col>
              <ion-col size="2">2</ion-col>
              <ion-col size="2">&#8377; 200</ion-col>
            </ion-row>
            <ion-row style="font-size: 13px;
            color: #686b78;">
              <ion-col size="6">Panner</ion-col>
              <ion-col size="2">x</ion-col>
              <ion-col size="2" >2</ion-col>
              <ion-col size="2">&#8377; 200</ion-col>
            </ion-row>
            </div>
            
            </div> 
          </div>
          <ion-row class="bill_details">
              BILL DETAILS
            </ion-row>
            <div class="ion-content">
            <ion-row style="font-size: 13px;
            color: #686b78;">
              <ion-col size="10">Item Total</ion-col>
              <ion-col size="2">&#8377; 200</ion-col>
            </ion-row>
            <ion-row style="font-size: 13px;
            color: #686b78;">
              <ion-col size="10">Offer Applied</ion-col>
              <ion-col size="2">&#8377; - 30</ion-col>
            </ion-row>
            <hr />
            <ion-row class="ion-justify-content-center" style="font-size: 20px;
            color: #686b78; margin: 0px">
              <ion-col size="10">
                <p class="delivery">Delivery Fee</p>
                
              </ion-col>

              <ion-col size="2">
                <p class="delivery">FREE</p>
              </ion-col>
            </ion-row>
          </div>
          
             <hr style="height: 10px;margin: 0px;border-top:1px solid gray;" />
             <ion-row class="ion-justify-content-center" style="font-size: 20px;
            color: #686b78; margin: 0px"> 
              <ion-col size="9">
                <p class="topay">TO PAY</p>
                <p></p>
              </ion-col>

              <ion-col size="3">
                <p class="topay">&#8377; 170</p>
              </ion-col>
            </ion-row>
            <ion-row class="sm-address" >
              <ion-col size="1">
                <ion-icon name="home"></ion-icon> 
              </ion-col>
        
                <p style="font-size: 14px;color:#111010;margin-left:10px;display:inline;
                ">
                Shruthi  
                Bcroad

                </p>
             
          </ion-row> 
          <div class="col-md-8 text-center">
          <ion-row>
              <ion-col size="6" >
            <ion-button color="#cd081b" class="btnback" (click)="back()">BACK TO HOME</ion-button>
          </ion-col>
          </ion-row>
        </div>
           
</ion-content>
