<ion-header>

    <ion-toolbar>

        <ion-row>

            <ion-img src="assets/freshmeulogo.jpg" class="delivery" class="logo"> </ion-img>

        </ion-row>



    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="8">

                <ion-card class="custdiv">
                    <ion-row>

                        <ion-col size="4">
                            <ion-icon name="pin" ></ion-icon>
                            <h1 class="card-heading">Select Your City</h1>
                        </ion-col>
                        <!-- <ion-col size="3">
                       
                        </ion-col> -->
                        <!-- <p class="subheading">Bangalore</p> -->

                    </ion-row>

                    <ion-row>
                        <ion-col size-lg="6">
                            <ion-card class="div1">

                                <p class="addressdetails"> Nithya</p>
                                <p class="addressdetails">Mangalore</p>
                                <p class="addressdetails">Main Road Srrangaatna</p>
                                <ion-button color="success">Add</ion-button>

                            </ion-card>
                        </ion-col>
                        <ion-col size-lg="4">
                            <ion-card class="div1">
                                <p class="addressdetails"> Nithya</p>
                                <p class="addressdetails">Mangalore</p>
                                <p class="addressdetails">Main Road Srrangaatna</p>
                                <ion-button color="success">Add</ion-button>

                            </ion-card>
                        </ion-col>

                    </ion-row>

                </ion-card>
            </ion-col>

            <ion-col size-lg="4">

                <ion-card class="custdiv">
                    <h1 class="cart-item">Cart Item</h1>
                    <hr />
                    <ion-row>
                        <ion-col size-xs="1" size-lg="1">
                            <ion-img src="assets/veglogo.jpg" class="veglogo"></ion-img>
                        </ion-col>
                        <ion-col size-xs="3" size-lg="2">
                            <p class="ion-itemname"> Pasta </p>
                        </ion-col>
                        <ion-col size-xs="2" size-lg="1">
                            <ion-button fill="outline" size="small" color="success" class="addbtn">-</ion-button>
                        </ion-col>
                        <ion-col size-xs="2" size-lg="2">
                            <p class="item-quantity"> 4 </p>
                        </ion-col>
                        <ion-col size-xs="2" size-lg="1">
                            <ion-button fill="outline" size="small" color="success" class="addbtn">+</ion-button>
                        </ion-col>
                        <ion-col size-xs="2" size-lg="5">
                           <p class="item-amount">&#8377;100</p>
                        </ion-col>
                    </ion-row>

                    <hr>
                    <ion-row>
                        <p class="heading"> Bill Details</p>
                    </ion-row>
                    <ion-row>
                        <ion-col size-xs="3">
                            <p class="ion-content"> Item Total</p>
                        </ion-col>
                        <ion-col size-xs="1" offset="6">
                            &#8377;
                        </ion-col>
                        <ion-col size-xs="2">
                            <p class="ion-content">700</p>
                        </ion-col>

                    </ion-row>

                    <ion-row>
                        <ion-col size-xs="5">
                            <p class="ion-content">Restorant Charges</p>
                        </ion-col>
                        <ion-col size-xs="1" offset="4">
                            &#8377;
                        </ion-col>
                        <ion-col size-xs="2">
                            <p class="ion-content">700</p>
                        </ion-col>

                    </ion-row>
                    <hr />
                    <ion-row>
                        <ion-col size-xs="4">
                            <p class="ion-content"> Delivery Fee</p>
                        </ion-col>
                        <ion-col size-xs="1" offset="5">
                            &#8377;
                        </ion-col>
                        <ion-col size-xs="2">
                            <p class="ion-content">700</p>
                        </ion-col>

                    </ion-row>
                    <hr />

                    <ion-row>
                        <ion-col size-xs="4">
                            <b>To Pay</b>
                        </ion-col>
                        <ion-col size-xs="1" offset="5">
                            &#8377;
                        </ion-col>
                        <ion-col size-xs="2">
                            <p class="ion-content">700</p>
                        </ion-col>

                    </ion-row>
                    <hr />
                    <ion-row>
                        <ion-col size-xs="2">
                            <ion-icon name="pin" class="location"></ion-icon>
                        </ion-col>
                        <ion-col size-xs="10">
                            Kankanadi
                            Mangalore
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col size-xs="10">
                            <ion-button color="success" class="btnsuccess" full>ADD ADDRESS TO PROCEED</ion-button>
                        </ion-col>

                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>