.custdiv
{
   
    min-height: 500px;
    background-color: white;
  
    font-size: large;
    margin-top: 10px;
     
 }
 .div1
 {
     margin-left: 50px;
     height: 200px;
     width: 300px;
     margin-top: 50px;
 }
 .ion-itemname
 {
   margin-top: 10px;
 }
 .card-heading
 {

 
  margin-left: 47px;
    margin-top: 0px;
 }
 ion-button
 {

   width:100px;
   margin-left:50px;
 }
 ion-icon
 {
     width: 20px;
     height: 20px;
 }
 .subheading
 {
    
     color:gray;
     font-size: 12px;
 }
 .pin
 {
   margin-left: 10px;
 }
 .item-quantity
 {
   text-align: center;
   margin-left: 70px;
    margin-top: 10px;
 }
 .item-amount
 {
   text-align: center;
   margin-top: 10px;
 }
 .veglogo
 {
     height: 15px;
     margin-top: 10px;
 }
 .addbtn
 {
     width: 10px;
 }
 .addressdetails

 {
      margin-left: 50px;
      font-size:12px;
 }

 .toolbar
{
    float: left;
    padding-left: 20px;
    padding-top: 12px;
}
 .btnsuccess
 {
    width: 270px;
 }
 .ion-content
{
    font-size: 15px;
    margin-left: 0px;
    margin-top: 0px;

}
.cart-item
{
  //  margin-top: 20px;
    font-size: 20px;
    margin-left: 13px;
    color:gray;
}
.heading
{
    font-size: 18px;
    font-weight: bold;
}


.cart-content
{
margin-left: 20px;
}


.logo{
    width: 200px;
    float: left;
    padding-left: 20px;
  }
  .cart-icon
  {
  width: 120px;
  float: left;
  padding-top: 20px;
  }
  .delivery
  {
 
    color: gray;
  }
  .address
  {
    color:red;
  }
  
  .mousehover:hover
  {
    color:orangered;
     cursor: pointer;
  }
  
  
  hr { 
    border-style: inset;
    border-width: 1px;
    width: 100%;
    color: gray;
    margin-top: 38px;
    // margin-right: 168px;
  } 
  body{
    overflow-y:scroll;
  }
 
  