.card
{
    
   min-height: 500px;
   background-color: white;
   margin-top: 50px;
}
.img-item
{
    min-height: 400px;
    margin-left: 10px;
    border-radius: 25px;
    background:white;
    padding: 20px;
  
}
.smalltext
{
    font-size: 12px;
}
.item-price
{
    font-size: 25px;
    color: black;
}
.title
{
    color: black;
    
}
.item-quantity
{
    text-align: center;
}
.feshmenu-logo{
    width: 200px;
    float: left;
    padding-left: 20px;
  }
  .firstrow
  {
    font-size: 14px;
    color: black;
    margin-left: 30px;
  }
  .footerheader
  {
    font-size: 18px;
    color:gray;
    margin-left: 30px;
  }
  hr { 
    border-style: inset;
    border-width: 1px;
    color: gray;
    margin-top: 26px;
  
  } 
  .details-heading
  {
      color: black;
  }
  .hr1 { 
    border-style: inset;
    border-width: 1px;
    color: gray;
    margin-top: 27px;
    
  } 
  .middle-hr
  {
    border-style: inset;
    border-width: 1px;
    color: gray;
    margin-top: 99px;
  }