<ion-header>
  <ion-toolbar>
    <ion-img src="assets/freshmeulogo.jpg" class="feshmenu-logo"> </ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-lg="1"></ion-col>
    <ion-col size-lg="10">
      <ion-card class="card">
        <ion-row>
          <ion-col size-lg="5">

            <img src="assets/pexels-photo-461198.jpeg" class="img-item">
            Details
            Baasa/Pangasius - Fillet
          </ion-col>


          <ion-col size-lg="7">
            <h4 class="title">VEG ROLL</h4>
            <p class="item-price"> &#8377;200</p>
            <p class="smalltext">Cultured freshwater variety in India which is having a great demand, especially for its
              fillets.</p>
            <ion-row>
              <ion-col size-lg="1">
                <ion-button fill="outline" size="small" color="success">+</ion-button>
              </ion-col>
              <ion-col size-lg="1">
                <p class="item-quantity">4</p>
              </ion-col>
              <ion-col size-lg="1">
                <ion-button fill="outline" size="small" color="success">-</ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="#f08241;" style="background-color:#f08241;">Add to Cart</ion-button>
              </ion-col>

            </ion-row>
            <ion-row>
              <h5 class="details-heading">DETAILS ABOUT THIS  VEG ROLL</h5>
            </ion-row>
            <ion-row>
               <p> Seared, oven roasted chicken is cooked in our traditionally rich nizami gravy, placed on a bed of biriyani rice is served along with raita. Topped with half boiled, seasoned egg. Indulgence starts!</p>
            </ion-row>
            <ion-row>
              <h5 class="details-heading">INGREDIENTS</h5>
            </ion-row>
            <ion-row>
              <p>Rice, Onion, Beans, Cauliflower, Carrot, Potato, Indian Spices, Curd, Tomato,, Fresh Cream, Almond Flakes, Cashew
                </p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size-lg="1">

    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size-lg="2"></ion-col>
      <ion-col size-lg="3"><hr></ion-col>
      <ion-col size-lg="2">
      <h2>YOU ALSO LIKE</h2>
      </ion-col>
      <ion-col size-lg="3"><hr class="hr1"></ion-col>
      <ion-col size-lg="2"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-lg="1.5"></ion-col>
        <ion-col size="12" size-lg="3">
            <ion-img src="assets/venillaicecream.jpg" class="itemimg " ></ion-img>
         </ion-col>
         <ion-col size="12" size-lg="3">
       <ion-img src="assets/venilla.jpg" class="itemimg " ></ion-img>
       </ion-col>
       <ion-col size="12" size-lg="3">
        <ion-img src="assets/icecream2.jpg" class="itemimg" ></ion-img>
      </ion-col>
      <ion-col size="12" size-lg="1.5"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="1.5"></ion-col>
        <ion-col size-lg="3">
          <p class="item-name">Venilla Icecream</p>
          </ion-col>
        <ion-col size-lg="3">
            <p class="item-name">Pista Icecream</p>
            </ion-col>
          <ion-col size-lg="3">
              <p class="item-name">>Pista Icecream</p>
             </ion-col>
        <ion-col size-lg="1.5"></ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-lg="1.5"></ion-col>
          <ion-col size-lg="2">
            <p class="item-name">&#8377;20</p>
            </ion-col>
            <ion-col size="12" size-lg="1" size-sm="6">
                <ion-button color="#f08241;" style="background-color:#f08241;">Add</ion-button>
              </ion-col>
          <ion-col size-lg="2">
              <p class="item-name">&#8377;20</p>
              </ion-col>
              <ion-col size="12" size-lg="1" size-sm="6">
                  <ion-button color="#f08241;" style="background-color:#f08241;">Add</ion-button>
                </ion-col>
      
            <ion-col size-lg="2">
                <p class="item-name">&#8377;20</p>
               </ion-col>
               <ion-col size="12" size-lg="1" size-sm="6">
                  <ion-button color="#f08241;" style="background-color:#f08241;">Add</ion-button>
                </ion-col>
          <ion-col size-lg="1.5"></ion-col>
        </ion-row>
      

  <hr class="middle-hr">

  <div class="margin">
    <ion-row>
      <ion-col size-lg="1"></ion-col>
      <ion-col size-lg="2">
        <h6 class="footerheader">COMPANY</h6>
      </ion-col>
      <ion-col size-lg="3">
        <h6 class="footerheader">HELP AND CONTACT</h6>
      </ion-col>
      <ion-col size-lg="2">
        <h6 class="footerheader">MORE FROM US</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="1"></ion-col>
      <ion-col size-lg="2">
        <p class="firstrow">FAQ</p>
      </ion-col>
      <ion-col size-lg="3">
        <p class="firstrow">About</p>
      </ion-col>
      <ion-col size-lg="2">
        <p class="firstrow">Careers</p>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size-lg="1"></ion-col>
      <ion-col size-lg="2">
        <p class="firstrow">Blog</p>
      </ion-col>
      <ion-col size-lg="3">
        <!-- <ion-icon name="call"></ion-icon> -->
        <p class="firstrow">89788778</p>

      </ion-col>


      <ion-col size-lg="2">
        <p class="firstrow">Careers</p>
      </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size-lg="1"></ion-col>
      <ion-col size-lg="2">
        <p class="firstrow">Blog</p>
      </ion-col>
      <ion-col size-lg="3">
        <!-- <ion-icon name="call"></ion-icon> -->
        <p class="firstrow">89788778</p>

      </ion-col>
       <ion-col size-lg="2">
        <p class="firstrow">Careers</p>
      </ion-col>

    </ion-row>


  </div>
</ion-content>